body {
  margin: 0;
  background-color: #f3f3f3;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66vh;
}

.splash-title {
  font-family: "Bangers", cursive;
  font-size: 10rem;
}

.splash-battleship-image {
  position: absolute;
  bottom: 5vh;
  left: 20vw;
  width: 100%;
  transform: rotateY(180deg);
  pointer-events: none;
  opacity: 0.25;
}

.btn {
  font-size: inherit;
  font-weight: bolder;
  background-color: hsl(30, 100%, 50%);
  padding: 0.5em 1em;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.25em;
  color: #333333;
}

.btn:hover,
.btn:focus {
  background-color: hsl(30, 100%, 40%);
}

.splash-btn {
  font-size: 2rem;
  margin-left: 2rem;
}

.splash-btn:first-child {
  margin-left: 0;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.battleship-grid {
  margin: 2vmin;
  display: grid;
  background-color: hsl(200, 100%, 50%);
  grid-template-rows: repeat(10, 4.6vmin);
  grid-template-columns: repeat(10, 4.6vmin);
}

.taken,
.ship {
  position: relative;
  background-color: hsl(0, 0%, 80%);
}

.grid-computer > .taken,
.grid-computer > .boom {
  background-color: hsl(200, 100%, 50%);
  border-radius: 0 !important;
}

.start.taken.vertical,
.start.taken.vertical::before,
.start.waves.vertical,
.start.waves2.vertical {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.start.taken.vertical.cpu.revealed,
.start.taken.vertical.cpu.revealed::before {
  border-top-left-radius: 50% !important;
  border-top-right-radius: 50% !important;
}

.end.taken.vertical,
.end.taken.vertical::before,
.end.waves.vertical,
.end.waves2.vertical {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.end.taken.vertical.cpu.revealed,
.end.taken.vertical.cpu.revealed::before {
  border-bottom-left-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.start.taken.horizontal,
.start.taken.horizontal::before,
.start.waves.horizontal,
.start.waves2.horizontal {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.start.taken.horizontal.cpu.revealed,
.start.taken.horizontal.cpu.revealed::before {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.end.taken.horizontal,
.end.taken.horizontal::before,
.end.waves.horizontal,
.end.waves2.horizontal {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.end.taken.horizontal.cpu.revealed,
.end.taken.horizontal.cpu.revealed::before {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.waves,
.waves2 {
  background-color: transparent;
  position: absolute;
  width: 4.6vmin;
  height: 4.6vmin;
  border: 0.3vmin solid white;
}

.waves.horizontal,
.waves2.horizontal {
  animation: ripplesY 3s linear infinite;
  border-left: none;
  border-right: none;
}

.waves.vertical,
.waves2.vertical {
  animation: ripplesX 3s linear infinite;
  border-top: none;
  border-bottom: none;
}

.taken > .waves,
.taken > .waves2 {
  top: -1px;
  left: -1px;
  z-index: 1;
}

.waves2 {
  display: none !important;
}

.waves3 {
  animation-delay: 2s !important;
  opacity: 0;
}

.revealed {
  background-color: hsl(0, 0%, 50%) !important;
  transition: 2s;
}

@keyframes ripplesY {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }

  100% {
    opacity: 0;
    transform: scaleY(1.5);
  }
}

@keyframes ripplesX {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }

  100% {
    opacity: 0;
    transform: scaleX(1.5);
  }
}

.battleship-grid > div {
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}

.grid-display {
  display: flex;
}

.ship > div {
  height: 4.6vmin;
  width: 4.6vmin;
}

.ship {
  display: flex;
  flex-wrap: wrap;
  margin: 1vmin;
  width: calc(4.6vmin * var(--width, 1));
  height: calc(4.6vmin * var(--height, 1));
  border-radius: 2.3vmin;
}

.destroyer-container {
  --width: 2;
}
.destroyer-container-vertical {
  --width: 1;
  --height: 2;
}

.submarine-container {
  --width: 3;
}

.submarine-container-vertical {
  --width: 1;
  --height: 3;
}

.cruiser-container {
  --width: 3;
}

.cruiser-container-vertical {
  --width: 1;
  --height: 3;
}

.battleship-container {
  --width: 4;
}

.battleship-container-vertical {
  --width: 1;
  --height: 4;
}

.carrier-container {
  --width: 5;
}

.carrier-container-vertical {
  --width: 1;
  --height: 5;
}

.hidden-info {
  font-size: 1.2rem;
  align-items: center;
  flex-direction: column;
}

.info-text {
  margin: 0.5rem;
}

.miss,
.boom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boom::after,
.miss::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

.boom::after {
  background-color: red;
}

.miss::after {
  background-color: white;
}

.miss::before {
  content: "";
  position: absolute;
  animation: hit 0.2s ease-out forwards;
  border: 1vmin solid white;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
  z-index: 1001;
}

.boom::before {
  content: "" !important;
  position: absolute !important;
  animation: hit 0.2s ease-out forwards !important;
  border: 1vmin solid red !important;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
  z-index: 1001;
}

@keyframes hit {
  0% {
    opacity: 1;
    transform: scale(0);
    border-radius: 100%;
  }

  99% {
    opacity: 0;
    transform: scale(4);
    border-radius: 100%;
  }

  100% {
    opacity: 0;
    transform: scale(1);
    border-radius: 100%;
  }
}

.player {
  margin: 1vmin;
}

.connected,
.ready {
  font-weight: normal;
  opacity: 0.25;
  text-decoration: line-through;
}

.connected.active,
.ready.active {
  opacity: 1;
  text-decoration: none;
}
